<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Lexi ORA - Welcome</title>
    <link rel="stylesheet"
          href="../style/stylesheet.css">
</head>
<body>
<div class="container">
    <!-- placeholder -->
    <div class="mascot-container">
        <div class="mascot mascot-placeholder">
            LEXI
        </div>
    </div>

    <!-- title -->
    <div class="title-container">
        <h1 class="app-title">Lexi ORA</h1>
        <p class="subtitle">Object Recognition
            Assistant</p>
    </div>

    <!-- button -->
    <div class="action-and-mascot-container">
        <button class="btn-primary" id="tourBtn">
            Take a Tour
        </button>
        <img
                src="../assets/images/lexi-show.png"
                alt="Lexi Mascot"
                class="side-mascot"
        />
    </div>


</div>

<script src="../business/main.js"></script>
</body>
</html>